* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
.grid-container {
    display: grid;
    height: 85vh;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    border: 50px solid #b1b5be;
}
p {
    color: white;
}
.header {
    display: grid;
    background-color: #9c1b63;
    font-size: 24px;
    /* border-radius: 7px; */

}
.aside-one {
    display: grid;
    background-color: #116395;
    font-size: 24px;
}
.column {
    display: grid;
    background-color: #e4195b;
    font-size: 24px;
    border: 10px solid #26b67b;
}
.aside-two {
    display: grid;
    background-color: #25a4b5;
    font-size: 24px;
}
.footer {
    display: grid;
    background-color: #e06b26;
    font-size: 24px;
}