* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
.grid-container {
    display: grid;
    height: 100vh;
    background-color: #b1b5be;
    grid-template-columns: repeat (5, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas:
        ". . . . ."
        ". header header header ."
        ". aside-one aside-one aside-one ."
        ". column-one column-one column-one ."
        ". column-two column-two column-two ."
        ". column-three column-three column-three ."
        ". aside-two aside-two aside-two ."
        ". footer footer footer ."
        ". . . . .";
}
.grid-item {
    color: white;
}
.header {
    grid-area: header;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #9c1b63;
    font-size: 24px;
    text-align: center;
    line-height: 110px;
    border-radius: 7px;
}
.aside-one {
    grid-area: aside-one;
    margin-bottom: 10px;
    background-color: #116395;
    font-size: 24px;
    text-align: center;
    line-height: 110px;
    border-radius: 7px;
}
.column-one {
    grid-area: column-one;
    background-color: #e4195b;
    font-size: 24px;
    text-align: center;
    line-height: 110px;
    border: 10px solid #26b67b;
}
.column-two {
    grid-area: column-two;
    background-color: #e4195b;
    font-size: 24px;
    text-align: center;
    line-height: 110px;
    border: 10px solid #26b67b;
}
.column-three {
    grid-area: column-three;
    background-color: #e4195b;
    font-size: 24px;
    text-align: center;
    line-height: 110px;
    border: 10px solid #26b67b;
}
.aside-two {
    grid-area: aside-two;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #25a4b5;
    font-size: 24px;
    text-align: center;
    line-height: 110px;
    border-radius: 7px;
}
.footer {
    grid-area: footer;
    margin-bottom: 10px;
    background-color: #e06b26;
    font-size: 24px;
    text-align: center;
    line-height: 110px;
    border-radius: 7px;
}
.article {
    color: #b1b5be;
}

@media(min-width: 1025px) {
    .grid-container {
        grid-template-columns: repeat (5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "header header header header header"
            "aside-one article article article aside-two"
            "aside-one column-one column-two column-three aside-two"
            "footer footer footer footer footer";
    }
    .header {
        margin-top: 5%;
        width: 98%;
        justify-self: center;
        font-size: 40px;
    }
    .aside-one {
        width: 90%;
        justify-self: center;
        font-size: 40px;
    }
    .article {
        grid-area: article;
        height: 198%;
        width: 100%;
        justify-self: center;
        color: white;
        background-color: #26b67b;
        border-radius: 7px;
        text-align: center;
        font-size: 40px;
    } 
    .aside-two {
        width: 90%;
        justify-self: center;
        font-size: 40px;
    }
    .column-one {
        height: 90%;
        border-radius: 7px;
        font-size: 30px;
    }
    .column-two {
        height: 90%;
        font-size: 30px;
    }
    .column-three {
        height: 90%;
        border-radius: 7px;
        font-size: 30px;
    }
    .aside-two {
        width: 90%;
        justify-self: center;
        margin-top: 2px;
    }
    .footer {
        margin-bottom: 5%;
        width: 98%;
        justify-self: center;
        font-size: 40px;    
    } 
}